<div class="archive-year" itemscope="" itemtype="http://schema.org/Article">
  <div class="collection-title">
    <h1 class="archive-year" id="archive-year-{{archive-year}}">{{archive-year}}</h1>
  </div>
  {{# blog-posts}}
    {{> blog-post}}
  {{/ blog-posts}}
</div>
