<article class="archive-post" itemscope="" itemtype="http://schema.org/Article">
  <header class="post-header">
    <h2 class="post-title">
      <a class="post-title-link" href="{{& datePath}}" itemprop="url">
        <span itemprop="name">{{title}}</span>
      </a>
    </h2>
    <div class="post-meta">
      <time class="post-time" itemprop="dateCreated" datetime="{{date}}T15:44:15Z" content="{{date}}">
        {{shortDate}}
      </time>
    </div>
  </header>
</article>
