<div class="header">
  <div class="title-bar">
    <span class="site-title">Come with me now on a journey through code and data...</span>
  </div>
  <nav class="site-nav">
    <ul>
      <li class="nav-item">
        <a href="/" rel="section">
          <i class="fa fa-fw fa-home"></i> <br>Home</a>
      </li>
      <li class="nav-item">
        <a href="/about/" rel="section">
          <i class="fa fa-fw fa-child"></i> <br>About</a>
      </li>
      <li class="nav-item">
        <a href="/archives/" rel="section">
          <i class="fa fa-fw fa-book"></i> <br>Blog</a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/hello-klol" rel="external" target="_blank">
          <i class="fa fa-fw fa-github-alt"></i> <br>GitHub</a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/_katie_clark_" rel="external" target="_blank">
          <i class="fa fa-fw fa-twitter"></i> <br>Twitter</a>
      </li>
      <li class="nav-item">
        <a href="https://stackoverflow.com/users/1168920/katie" rel="external" target="_blank">
          <i class="fa fa-fw fa-stack-overflow"></i> <br>StackOverflow</a>
      </li>
      <li class="nav-item">
        <a href="/katie-clark-resume.pdf" rel="section"i target="_blank">
          <i class="fa fa-fw fa-user"></i> <br>Resume</a>
      </li>
    </ul>
  </nav>
</div>
