<span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
  <meta itemprop="name" content="Katie Clark">
  <meta itemprop="description" content="It's a Data Science blog">
  <meta itemprop="image" content="/images/avatar.gif">
</span>
<span>
  <meta itemprop="name" content="Come with me now on a journey through code and data...">
</span>


<header>
  <link itemprop="mainEntityOfPage" href="http://hello-klol.github.io/{{path}}/">
    <h1 class="post-title" itemprop="name headline">{{title}}</h1>
  </link>
  <div class="post-meta">
    <span class="post-meta-icon">
      <i class="fa fa-calendar-o"></i>
    </span>
    <span class="post-meta-text">Posted on</span>
    <time title="Created: {{date}} 00:00:00" itemprop="dateCreated datePublished" datetime="{{date}}T00:00:00Z">{{date}}</time>
    <div class="post-description">{{description}}</div>
  </div>
</header>
