<article itemscope itemtype="http://schema.org/Article">
  <div class="post-block">
    <link itemprop="mainEntityOfPage" href="http://hello-klol.github.io/2018/08/04/Data-Science-Project-Workflow/">

    {{> post-meta}}
    {{> post-header}}

    <div class="post-body" itemprop="articleBody">
      {{{ content }}}
    </div>

    {{> post-footer}}
  </div>
</article>
