<span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
  <meta itemprop="name" content="Katie Clark">
  <meta itemprop="description" content="It's a Data Science blog">
  <meta itemprop="image" content="/images/avatar.gif">
</span>

<span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <meta itemprop="name" content="Come with me now on a journey through code and data...">
</span>
